{% extends 'base.html' %}
{% block title %}変更{% endblock %}
{% block style %}
        textarea{
            width: 800px;
            height: 50px;
            resize: none;
            overflow-y: scroll;
        }
        .mylabel{
            background-color: #0362ff;
            color: white;
            width: 160px;
        }
{% endblock %}
{% block button %}
    <input type="button" value="戻る" onClick="location.href='/list'" style="background-color:#0362ff;color:white;WIDTH: 100px; HEIGHT: 30px">
{% endblock %}
{% block content %}
    <font size = "5pt" color = "blue"><b>変更</b></font>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>必要事項を入力し登録を行ってください</b>
    <hr class="style2">
    <br>
    <div style="color: red">
        {% if message_add %}
            {{ message_add | linebreaksbr  }}
        {% endif %}
    </div>
    <form action ="{% url 'edit' project_id %}" method="post">
        {% csrf_token %}
    <fieldset style="border: 1px solid #000000; padding: 10px;-webkit-border-radius: 5px;border-color: gainsboro;width: 1100px">
    <legend><b>既存明細変更</b></legend>
        <table>
            <tr>
                <td class ="mylabel">発生日</td><td>{{ project.start_date }}</td>
            </tr>
            <tr>
                <td class ="mylabel">案件番号</td>
                <td>{{ project.project_no }}</td>
            </tr>
            <tr>
                <td class ="mylabel">案件名</td><td>{{ project.project_name }}</td>
            </tr>
            <tr>
                <td class ="mylabel">工程区分</td>
                <td>{{ project.protype_code }}</td>
            </tr>
            <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
            <tr>
                <td class ="mylabel">開発言語</td><td>{{ project.language_code }}</td>
            </tr>
            <tr>
                <td class ="mylabel">概要</td>
                <td>{{ project.summary }}</td>
            </tr>
            <tr>
                <td class ="mylabel">状態</td><td>{{ project.status_code }}</td>
            </tr>
            <tr>
                <td class ="mylabel">お客様担当者</td><td>{{ project.customer }}</td>
            </tr>
            <tr>
                <td class ="mylabel">担当者</td><td>{{ project.charge }}</td>
            </tr>
            <tr>
                <td class ="mylabel">レビュー者</td><td>{{ project.reviewer }}</td>
            </tr>
            <tr>
                <td class ="mylabel">リリース日</td><td>{{ project.release_date }}</td>
            </tr>
            <tr>
                <td class ="mylabel">備考</td><td>{{ project.remarks }}</td>
            </tr>
        </table></fieldset>
    <table><tr></tr></table>
    <table style="width: 100%;height: 40px;background-color:#0362ff;">
        <tr>
            <td align ="center"><input type="submit" value="変更" onClick="" style="WIDTH: 110px; HEIGHT: 30px;"></td>
        </tr>
    </table>
    </form>
    <br>
{% endblock %}