<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <style>
        hr.style1 {
            background-image: linear-gradient(90deg, blue, transparent);
            border: 0;
            height: 3px;
        }
        hr.style2{
            height: 3px;
            border: 0;
            background-color: blue;
        }
    </style>
    <script type="text/javascript">
        function reset_blank(){
            document.getElementById("id_username").innerText = "";
            document.getElementById("id_password").innerText = "";
        }
    </script>
</head>
<body>
    <br>
    <hr class="style1">
    <br>
    <b>Welcome to 案件管理ボータル</b>
    <br>
    <br>
    <hr class="style1">
    <br>
    <br>
    <h2>ログイン</h2>
    <hr class="style2">
    <br>
    ユーザー名とパスワードを入力してください
    <hr width="90%" align="left" style="height: 2px;border: 0;background-color: #c8c8c8">
    <div style="color: red">
    {% if message %}
        {{ message }}
    {% endif %}
    </div>
    <br>
    <form  method="post" action="/login/">
        {% csrf_token %}
        <table border = "0">
            <tr><td>ユーザ名：</td><td>{{ login_form.username }}</td></tr>
            <tr><td>パスワード:</td><td>{{ login_form.password }}</td></tr>
            <tr>
                <td></td>
                <td><button type="submit" name="login" style="width: 80px"><b>ログイン</b></button>
                    <input type="button" name ="clear" style="width: 80px;font-weight: bold" value = "クリア" onclick="reset_blank();"></td>
            </tr>
        </table>
    </form>
</body>
</html>